@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Hina+Mincho&family=Xanh+Mono&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.main-container{
    height: min-content;
    width: 100%;
       background-color: #F4F4F2;
    transition: ease-in-out 3ms;
    top: -6vh;
    position: relative;
}
nav{
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
nav ul{
font-family: 'DotGothic16', sans-serif;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}
.container-1{
    height: 95vh;
    width: 100%;
    display: flex;
    
    position: relative;
}
.container-1-left{
    height: 100%;
    width: 70%;
    background-image: url("images/c-1-img.webp");
    background-size: cover;
    font-family: 'DotGothic16', sans-serif;
}
.container-1-right{
    height: 100%;
    width:30%;
       display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.container-upper-c1{
    height: 10%;
    width: 100%;
}
.c-1-right-lower{
    width: 100%;
    height: 50%;
    font-family: 'Hina Mincho', serif;
     padding-left: 10px;
    letter-spacing: 2px;
    line-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

}
.c-1-right-lower span {
    display: flex;
    justify-content: space-between;
   width: 60%;
}

.container-1-right p{
    font-size: 18px;
}
.container-1-right h1{
    font-size: 60px;
    font-weight: 100;
}
.container-1-right button{
    height: 5%;
    width: 90%;
    border-radius: 50px;
    color: white;
    background-color:#002f6c;
}
.container-1-right button:hover{
    width: 95%;
   padding-left: 0;
}

.container-1-right h4{
    font-size: 18px;
    font-weight: 300;
    color: #002f6c;
}
.container-2-left{
    height: 100%;
    width: 70%;
    background-image: url("images/c-2.webp");
    background-size: cover;
}
#container-2-right-p{
    line-height: 25px;
}
.container-3{
    height: 79vh;
    width: 100%;
    display: flex;
}
.container-3-left{
    height: 100%;
    width: 70%;

    background-size: cover;
}
video{
    height: fit-content;
    width: 100%;
}
#c-3-right-lower-span{
    width: 90%;
    font-size: 15px;
    color: #002f6c;
}

.container-4-left{
    height: 100%;
    width: 70%;
    background-image: url("images/c-4.webp");
    background-size: cover;
}
#container-4-right-lower{
    line-height: 25px;
    margin-top: 15px;
}
.container-5-left{
    height: 100%;
    width: 70%;
    background-image: url("images/c-5.webp");
    background-size: cover;
}
#container-5-right-p{
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 25px;
}
.container-6-left{
    height: 100%;
    width: 70%;
    background-image: url("images/c-6.webp");
    background-size: cover;
}
.container-7{
    height: 80vh;
    width: 100%;
    top: 6vh;
    position: relative;
}
.container-7-upper{
    height: 50%;
 
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
 bottom: 1%;
    right: 28%;
    position: absolute;
    z-index: 5;
}
.info-1-c7{
    height: 20%;
    width: 33%;
    display: flex;
    flex-direction: column;
   text-align: center;
    font-family: 'Xanh Mono', monospace;
}
.info-1-c7 h3{
    font-size: 28px;
}
.info-1-c7 h4{
    font-size: 20px;
    font-weight: 200;
}

.container-7-lower{
    height: 50%;
    background-color: #d5d3d3;
    padding: 20PX;
    font-family: 'DotGothic16', sans-serif;
}
.c-7-lower-part-1-upper{
    height: 85%;
   
}
.c-7-lower-part-1-lower{
    height: 15%;
}
.c-7-lower-part-1-lower span{
    display: flex;
    justify-content: space-between;
   
}

.c-7-lower-part-1-lower span ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.c-7-lower-part-1-upper span{
display: flex;
justify-content: space-between;
}
.links-c7{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.links-c7 ul li{
    font-size: 12px;
}
.links-c7 ul {
    display: flex;
    flex-direction: column;
}
ul li{
    list-style: none;
}

